h1, p {
    font-family: Lato;
  }
  
  
  .box_banner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  
  .box_banner img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
  }
  