.header {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 109.6px;
    padding-bottom: 5px;
    height: 109.6px;
    padding-bottom: 5px;
  }
  
  .header-top {
    position: relative;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 107.6px;
    
  }

  .logo {
    align-items: start;
    height: 107.6px;
    
  }

  .logo {
    align-items: start;
  }
  
  .logo img {
    height: 60px; /* Ajuste o tamanho conforme necessário */
  }
  /*
  .contacts {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    gap: 15px;
    margin-top: 10px;
  }
    */

    .contacts {
      position: absolute;
      top: 10px; /* Ajuste conforme necessário */
      right: 10px; /* Ajuste conforme necessário */
      display: flex;
      gap: 10px;
  }
  
  .contacts a {
    color: #333;
    text-decoration: none;
  }
  
  .contacts i {
    font-size: 1.2em;
  }
  
  /*
  .nav {
    display: flex;
    gap: 15px;
    margin-top: 5px;
  }
    */
  
  .nav-item {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  } 

  .nav {
    display: flex;
    gap: 15px;
    align-self: flex-end; /* Alinha o nav ao fim (parte de baixo) da header-top */
    margin-left: auto; /* Empurra o nav para a direita */
    margin-bottom: 10px; /* Ajuste o valor conforme necessário para posicionar mais para baixo */
}
  } 

  .nav {
    display: flex;
    gap: 15px;
    align-self: flex-end; /* Alinha o nav ao fim (parte de baixo) da header-top */
    margin-left: auto; /* Empurra o nav para a direita */
    margin-bottom: 10px; /* Ajuste o valor conforme necessário para posicionar mais para baixo */
}
  
  .nav-item.active {
    color: red;
    --AppBar-background: #dcdcdc;
  }
  
